body{
	margin:0;
	padding:0;
	background:#e84118;
}

.search-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #2f3640;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}

.search-box:hover > .search-txt{
	width:240px;
	padding:0 6px;
}

.search-box:hover > .search-btn{
		border-radius:white;
}

.search-btn{
	color: #FF0000;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display:flex;
	justify-content: center;
	align-items:center;
	transition: 0.4s;
	type: submit;
	font-family: FontAwesome;
}
.search-btn2{
	color: #00ffdb;
	width: 240px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	justify-content: center;
	align-items:center;
	transition: 0.4s;
	type: submit;
	font-family: FontAwesome;
	text-align: center;
}
.search-btn3{
	color: #00ff5e;
	width: 240px;
	height: 40px;
	background: #2f3640;
	justify-content: center;
	align-items:center;
	transition: 0.4s;
	type: submit;
	font-family: FontAwesome;
	text-align: center;
}
.search-btn4{
	color: #ffffff;
	width: 240px;
	height: 40px;
	background: #000000;
	justify-content: center;
	align-items:center;
	transition: 0.4s;
	type: submit;
	font-family: FontAwesome;
	text-align: center;
}
.search-txt{
	border:none;
	background:none;
	outline:none;
	float:left;
	padding:0;
	color:white;
	font-size:16px;
	transition:0.4s;
	line-height:40px;
	width:0px;
}
.footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
.upd-txt{
	color:white;
	font-size:16px;
	transition:0.4s;
	line-height:40px;
	width:200px;
	background:#2f3640;
}
.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}
#loader-bg {
		background: #fff;
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 10;
}
#loader-bg img {
		background: #fff;
		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 10;
}